@media (max-width: 768px) {
    .main-page .data {
        flex-direction: column;
    }

    .main-page .data table {
        font-size: 2vw;
    }

    header .title h2, h4{
        font-size: 16px;
    }

    .sidebar  a{
        font-size: 14px;
    }
    .sidebar  li a i{
        display: none;
    }
}
