@media (max-width: 768px) {
    .main-page .data {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .main-page .data table {
        font-size: 2vw;
    }

    header .title h2, h4{
        font-size: 16px;
    }

    .sections {
        display: block;
    }

   .sections ul li a{
        font-size: 2vw;
    }

    .sidebar {
        display: none;
    }


    .sidebar  a{
        font-size: 14px;
    }
    .sidebar  li a i{
        display: none;
    }
}
